<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Vue Mastery</title>
        <!-- Import Styles -->
        <link rel="stylesheet" href="./assets/css/styles.css" />
        <!-- Import Vue.js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <header class="nav-bar">
                <!-- navigation link goes here -->
            </header>

            <main class="product-display">
                <section class="product-container">
                    <figure class="product-image">
                        <img :src="image" alt="sock image">
                    </figure>

                    <article class="product-details">
                        <h1>{{ product }}</h1>
                        <p v-if="inventory > 10">In Stock</p>
                        <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold out</p>
                        <p v-else>Out of stock</p>
                        <p v-show="onSale">On Sale</p>
                        <ul>
                            <li v-for="detail in details">{{ detail }}</li>
                        </ul>
                        <div v-for="variant in variants" v-bind:key="variant.id">{{ variant.color }}</div>
                        <ul>
                            <li v-for="(size, index) in sizes" :key="index"> {{ size }}</li>
                        </ul>
                    </article>
                </section>
            </main>
        </div>

        <!-- Import App -->
        <script src="./main.js"></script>

        <!-- Mount App -->
        <script>
            const mountApp = app.mount('#app');
        </script>
    </body>
</html>
